@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


:root{
    --fonte1:'Sriracha', cursive;
    --fonte2:'Dancing Script', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
body,html{
    min-height:100vh;
    font-family: var(--fonte1);
    background-color: darkgrey;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
}
header > h1{
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size:10vw;

}
header > p{
    padding-bottom: 50px;
    padding-top:5px;
    font-size:4.5vw;

}
a{
    font-weight: bolder;
    text-decoration: none;
    color: white;
     
}
a:hover{
    color: blue;
    text-decoration: underline;

}
section{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 20px;
    padding-right: 20px;

}
section.imagem{
    background-color:rgba(0, 0, 0, 0.562);
    color: white;
    box-shadow: inset 0px 1px 13px 3px black;
    
    

}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.363);
    text-shadow:3px 1px 2px black;
    padding: 10px;
    display: inline-block;
    
}
section > p {
    padding-bottom:1em;
    line-height: 1.5em;
    font-size: 5.1vw;
}
#img01{
    background-image: url("../pacote-d012/imagens/background001.jpg");
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;

}
#img02{
    background-image: url("../pacote-d012/imagens/background002.jpg");
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;  

}

section.normal{
    background-color: white;
    color: black;
}

footer{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}